.title {
  font-size: 32px;
}

.header {
  height: 64px;
  display: flex;
}

.navAction {
  padding-right: 12px;
}

.input {
  background-color: var(--ion-color-grey-900);
  margin-top: 24px;
}

.submitBtn {
  margin-top: 48px;
  --background-activated: var(--ion-color-green-700);
  --background: var(--ion-color-green-600);
}

/* ion-button {
  --background: #93e9be;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  --color: blue;

  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
} */
